<div class="text-center">
<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">eWallet Payment Processor</h5>
    <h6 class="card-title transaction-id-text"></h6>
    <p class="card-text main-text"></p>
    <a href="https://localhost:7039/Identity/Account/Wallet" class="btn btn-primary accept-btn">Accept</a>
    <a href="https://localhost:7039/Identity/Account/Wallet" class="btn btn-secondary reject-btn">Reject</a>
  </div>
  <div class="card-footer text-muted">
    
  </div>
</div>
</div>